[submodule "packages/drex/drex/lib/forge-std"]
	path = packages/drex/drex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/drex/lib/openzeppelin-contracts"]
	path = packages/drex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
